@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  font-family: "Outfit", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--grey-2);
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border); 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--black);
  background-color: #161616;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='306' height='306' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23242424' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23242424'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}
:root {
  --grey: #dcdcdc;
  --grey-2: #9a9a9a;
  --black: #161616;
  --border: #242424;
  --bg: #1a1a1a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  border-bottom: 1px solid var(--border);
  backdrop-filter: blur(3px);
}
.hamburger {
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 3px;
}
.hamburger .bar {
  height: 3px;
  width: 30px;
  background: var(--grey-2);
}
section {
  padding: 0 6rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
nav ul a:hover {
  color: var(--grey);
}
.logo {
  color: var(--grey);
}
.hero {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: center;
  align-items: center;
  min-height: 90dvh;
}
.hero .visual {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .visual img {
  width: 250px;
  border-radius: 25px;
  filter: saturate(25%);
  z-index: -1;
}

.hero .info {
  font-size: 29px;
}
.hero .info h1 {
  background: -webkit-linear-gradient(45deg, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button {
  margin-top: 2rem;
  font-size: 21px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  transition: 0.2s linear;
}
.button:hover {
  background-color: var(--border);
}

/* projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 6rem;
  height: 100dvh;
  justify-content: space-evenly;
}
section .title {
  background: -webkit-linear-gradient(45deg, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 29px;
}
.projects-container {
  padding: 1rem;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80%;
  width: 100%;
  gap: 1rem;
}
.projects-container .project a{
  height: 100%;
  border: 1px solid var(--border);
  background-color: var(--bg);
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  transition: .2s ease-in-out;
}
.projects-container .project a:hover{
  transform: translateY(-.5rem);
}
.project .visual {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--border);
  color: white;
}
.project .visual h1{
  color: white !important;
  font-size: 29px;
}
.project .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  gap: 1rem;
}
.project .info h2 {
  color: var(--grey);
}
.project img {
  width: 80%;
  filter: brightness(0) invert();
}
.project.mi h2{
    font-family: "JetBrains Mono", monospace;
}
/* services */
#services .project .visual{
  text-align: center;
}
#services .project .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#services .project .info h2{
  font-size: 3vw;
}
/* about */
.about {
  padding: 2rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-card {
  margin-top: 2rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 1rem;
  border-radius: 5px;
}
.about-card img {
  width: 100%;
  border-radius: 3px;
}
.about-card .info {
  /* padding: 1rem 3rem; */
  margin-left: 1rem;
  display: grid;
  grid-template-rows: 75% 25%;
}
.about-card .info .bio {
  border-radius: 3px;
  background-color: var(--border);
  font-size: 26px;
  padding: 0 3rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.about-card .info .bio h1 {
  color: var(--grey);
}
.about-card .info .bio p {
  font-size: 21px;
  line-height: 30px;
  margin-top: 1rem;
}
.about-card .info .stack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.about-card .info .stack img {
  width: 45%;
  filter: invert();
  opacity: 80%;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 7rem;
}
.contact-card {
  margin-top: 2rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
  width: 100%;
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 1rem;
  border-radius: 5px;
  min-height: 60dvh;
}
.contact-card .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid var(--border);
  padding-right: 1rem;
  text-align: center;
}
.contact-card .link {
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-align: start;
}
.contact-card .link:hover {
  background-color: var(--border);
}
.contact-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1rem;  
}
.contact-card form input,.contact-card form textarea {
  background-color: var(--black);
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
  font-size: 16px;
}
.contact-card textarea{
  resize: none;
  min-height: 150px;
}
.contact-card .button {
  margin: 0;
  padding: 0.3rem 2rem;
  background-color: var(--border);
}
.contact-card .lower-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-card .lower-form .selector{
  border: 1px solid var(--border);
  height: 100%;
  width: 200px;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .75rem;
  position: relative;
  cursor: pointer;
}
.contact-card .lower-form .selector .selector-menu{
  position: absolute;
  background-color: var(--bg);
  border: 1px solid var(--border);
  z-index: 1;
  bottom: 0rem;
  width: 100%;
  left: 0;
  display: flex;
  opacity: 0;
  flex-direction: column;
  gap: .25rem;
  padding: 1rem;
  transition: .2s ease-in-out;
}
.contact-card .lower-form .selector.active .selector-menu{
  opacity: 100%;
  bottom: 3rem;
}
.contact-card .lower-form .selector svg{
  transition: .2s ease-in-out;
}
.contact-card .lower-form .selector.active svg{
  transform: rotate(180deg);
}
.contact-card .lower-form .selector .selector-menu p:hover {
  color: var(--grey);
  cursor: pointer;
}
.contact-card .button:hover {
  background-color: var(--black);
}

footer nav {
  padding: 1rem 7rem;
  border-top: 1px solid var(--border);
}

/* responsivness */

@media only screen and (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-card {
    min-height: 20dvh;
  }
}
@media only screen and (max-width: 1060px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
    min-height: auto;
    margin-top: 3rem;
    text-align: center;
  }
  .hero .info {
    margin-top: 5rem;
  }
  .about-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* grid-template-columns: repeat(1, 1fr); */
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }
  .about-card .info {
    gap: 2rem;
    margin: 0;
  }
  .about-card .me {
    width: 200px;
    /* display: none; */
    border-radius: 50%;
  }
  .about-card .info .bio {
    font-size: 19px;
    background-color: inherit;
    text-align: center;
  }
  .about-card .info .bio p {
    font-size: 18px;
  }

  .contact-card form .base-info {
    display: flex;
    flex-direction: column;
  }
  .contact-card form .base-info input {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  nav,
  footer nav {
    padding: 1rem 4rem;
  }
  section {
    padding: 2rem 4rem !important;
  }
  .projects-container {
    padding: 0;
  }
  .about-card .info .bio {
    padding: 0;
  }
  #services .project .info h2{
    font-size: 5vw;
  }
}
@media only screen and (max-width: 600px) {
  .about-card .info .stack img{
    width: 90%;
  }
  .hamburger {
    display: flex;
    z-index: 5;
  }
  .hamburger .bar{
    transition: .2s ease-in-out;
  }
  .hamburger.active .bar:nth-child(1){
    /* transform: rotate(25deg); */
    transform: rotate(25deg) translateY(.4rem);
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3){
    transform: rotate(-25deg) translateY(-.4rem);
  }
  .navbar {
    position: relative;
  }
  .navbar ul {
    opacity: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0rem;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    background-color: var(--bg);
    padding: 6rem 0;
    border: 1px solid var(--border);
    border-radius: 5px;
    transition: .2s ease-in-out;
  }
  .navbar .active {
    top: 6rem;
    opacity: 100% !important;
  }
  footer nav {
    flex-direction: column-reverse;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
  }
  footer nav ul {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .link-span {
    display: none;
  }
  .contact-card {
    display: flex;
  }
  .contact-card .title-small {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  section {
    padding: 2rem !important;
  }
  nav{
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 450px) {
  .contact-card {
    flex-direction: column;
  }
  .contact-card .links .title-small {
    display: none;
  }
  .link-span {
    display: unset;
  }
  .contact-card .links {
    border: none;
    padding: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-card form {
    margin: 0;
    margin-top: 1rem;
  }
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
  }
  .projects-container .project {
    min-height: 500px;
  }
  .projects {
    height: auto;
  }
  .about-card {
    padding: 2rem;
  }
  #services .project .info h2{
    font-size: 7vw;
  }
}
@media only screen and (max-width: 360px) {
  .link-span{
    font-size: 14px;
  }
  #services .project .info h2{
    font-size: 10vw;
  }
  
}
